{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/post_list.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/menu.css' %}" />
    <title>VIVO-PAÑOL</title>
</head>
<body>
    <div class="menu">
        <center><img id="logo" src="{% static 'img/VIVOPAÑOL_LOGO.png' %}" alt=""></center>
        {% if user.is_authenticated %}
        <div class="navbar">
            <a class="active" href="{% url 'post_list' %}">DISPONIBLES</a> 
            <a href="{% url 'no' %}">NO DISPONIBLES</a> 
        </div>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="contenedor">
            {% for Implementodep in Implementodeps %}
                {% if Implementodep.estado == 'DISPONIBLE' %}
                    <div class="caja">
                        <a class="nolinea" href="{% url 'post_edit' pk=Implementodep.pk %}">
                            ID: {{Implementodep.pk}}
                            <br>
                            Tipo: {{ Implementodep.implemento }}
                            <br>
                                {% if Implementodep.implemento == 'PALETAS' %}
                                    <img id="imgestado" src="{% static 'img/paleta.png' %}" alt="">
                                {% elif Implementodep.implemento == 'PELOTA PINPONG' %}
                                    <img id="imgestado" src="{% static 'img/pelota_ping.png' %}" alt="">
                                {% elif Implementodep.implemento == 'PELOTA FOOTBALL' %}
                                    <img id="imgestado" src="{% static 'img/pelota_futbol.png' %}" alt="">
                                {% elif Implementodep.implemento == 'PELOTA BASCKETBALL' %}
                                    <img id="imgestado" src="{% static 'img/pelota_bas.png' %}" alt="">
                                {% elif Implementodep.implemento == 'CANCHA' %}
                                    <img id="imgestado" src="{% static 'img/cancha.png' %}" alt="">
                                {% endif %}
                            <br>
                            Estado: {{ Implementodep.estado  }}
                            <br>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

            {% if user.is_authenticated %}
            <div class="caja">
                <a class="nolinea" href="{% url 'post_new' %}" class="top-menu">
                    <h1>+</h1>
                </a>
            </div>
            {% endif %}
        </div>
    {% else %}
        <div class="contenedor">
            {% for Implementodep in Implementodeps %}
                {% if Implementodep.estado == 'DISPONIBLE' %}
                    <div class="caja">
                            Tipo: {{ Implementodep.implemento }}
                            <br>
                                {% if Implementodep.implemento == 'PALETAS' %}
                                    <img id="imgestado" src="{% static 'img/paleta.png' %}" alt="">
                                {% elif Implementodep.implemento == 'PELOTA PINPONG' %}
                                    <img id="imgestado" src="{% static 'img/pelota_ping.png' %}" alt="">
                                {% elif Implementodep.implemento == 'PELOTA FOOTBALL' %}
                                    <img id="imgestado" src="{% static 'img/pelota_futbol.png' %}" alt="">
                                {% elif Implementodep.implemento == 'PELOTA BASCKETBALL' %}
                                    <img id="imgestado" src="{% static 'img/pelota_bas.png' %}" alt="">
                                {% elif Implementodep.implemento == 'CANCHA' %}
                                    <img id="imgestado" src="{% static 'img/cancha.png' %}" alt="">
                                {% endif %}
                            <br>
                            Estado: {{ Implementodep.estado  }}
                            <br>
                    </div>
                {% endif %}
            {% endfor %}

            {% if user.is_authenticated %}
            <div class="caja">
                <a class="nolinea" href="{% url 'post_new' %}" class="top-menu">
                    <h1>+</h1>
                </a>
            </div>
            {% endif %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <center>
            <a href="{% url 'logout' %}" class="myButton">LOGOUT</a>
        </center>
    {% else %}
        <center>
            <a href="{% url 'login' %}" class="myButton">LOGIN</a>
        </center>
    {% endif %}
    <footer>
            <table>
                <tr>
                    <td>&#9993; <b>Email</b></td>
                    <td>
                        <a href="mailto:VivoPañol@gmail.com">
                                VivoPañol@gmail.com
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>&#9742; <b>Telefono</b></td>
                    <td>
                        <a href="tel:+56920202020">
                                +569 2020 2020
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b>&copy; Todos los derechos reservados.</b> 
                    </td>
                </tr>
            </table>
        </footer> 
</body>
</html>